{% extends 'base.html' %}
{%load static%}
{% block content %}
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Checkout</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="#">Home</a></li>
                    <li class="active">Checkout</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <form method="POST">
                {% csrf_token %}
                <div class="col-md-7">
                    <!-- Billing Details -->
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">Billing address</h3>
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="fname" value="{{fname}}" placeholder="First Name" required>
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="lname" value="{{lname}}" placeholder="Last Name" required>
                        </div>
                        <div class="form-group">
                            <input class="input" type="email" name="email" value="{{email}}" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="address" value="{{address}}" placeholder="Address" required>
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="city" value="{{city}}" placeholder="City" required>
                        </div>
                        <div class="form-group">
                            <input class="input" type="tel" name="phone" value="{{phone}}" placeholder="Phone" required>
                        </div>
                    </div>
                    <!-- /Billing Details -->
                    <!-- Order notes -->
                    <div class="order-notes">
                        <textarea class="input" placeholder="Order Notes" name="order"></textarea>
                    </div>
                    <!-- /Order notes -->
                </div>
                <!-- Order Details -->
                <div class="col-md-5 order-details">
                    <div class="section-title text-center">
                        <h3 class="title">Your Order</h3>
                    </div>
                    <div class="order-summary">
                        <div class="order-col">
                            <div><strong>PRODUCT</strong></div>
                            <div><strong>TOTAL</strong></div>
                        </div>
                        <div class="order-products">
                            {% for i in checks %}
                            <div class="order-col">
                                <div>{{i.quantity}} x {{i.title}}</div>
                                <div>Rs. {{i.total}}</div>
                            </div>
                            {%endfor%}
                        </div>
                        <div class="order-col">
                            <div>Shiping</div>
                            <div><strong>FREE</strong></div>
                        </div>
                        <div class="order-col">
                            <div><strong>GRAND TOTAL</strong></div>
                            <div><strong class="order-total">Rs. {{alltotal}}</strong></div>
                        </div>
                    </div>
                    <button class="btn btn-danger" type="submit">Order</button>
                </div>
                <!-- /Order Details -->
            </form>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
{% endblock %}