{% extends 'base.html' %}
{%load static%}
{% block content %}
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="/">Home</a></li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <center>
        <h2>Hotdeals</h2>
    </center>
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- STORE -->
            <div id="store" class="col-md-9">
                <!-- store top filter -->
            </div>
            <!-- /store top filter -->
            <!-- store products -->
            <div class="row">
                <!-- product -->
                {% for cat in hot_items %}
                <div class="col-md-4 col-xs-6">
                    <div class="product">
                        <center>
                            <div class="product-img">
                                <a href="{{cat.GetItemUrls}}"><img src="../{{cat.image.url}}" alt="" height=200 width=200></a>
                                <div class="product-label">
                                    <span class="new">{{cat.Labels}}</span>
                                </div>
                            </div>
                        </center>
                        <div class="product-body">
                            <p class="product-category">{{cat.subcategory}}</p>
                            <h3 class="product-name"><a href="{{cat.GetItemUrls}}">{{cat.title}}</a></h3>
                            {% if cat.discounted_price > 0 %}
                            <del>Rs. {{cat.price}}</del>
                            <h4 class="product-price">Rs. {{cat.discounted_price}}</h4>
                            {% else %}
                            <br>
                            <h4 class="product-price">Rs. {{cat.price}}</h4>
                            {% endif %}
                            <div class="product-btns">
                                <form action="/add_to_wish" method="POST">
                                    {% csrf_token %}
                                    <fieldset>
                                        <input type="hidden" name="slug" value="{{cat.slug}}" />
                                        <input type="hidden" name="title" value="{{cat.title}}" />
                                        <input type="hidden" name="image" value="{{cat.image}}" />
                                        <input type="hidden" name="description" value="{{cat.description}}" />
                                        <input type="hidden" name="quantity" value="{{cat.quatity}}" />
                                        {% if item.discounted_price > 0 %}
                                        <input type="hidden" name="price" value="{{cat.discounted_price}}" />
                                        {% else %}
                                        <input type="hidden" name="price" value="{{cat.price}}" />
                                        {% endif %}
                                        <button class="add-to-wishlist">&nbsp;<i class="fa fa-heart-o"></i></button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                        <div class="add-to-cart">
                            <form action="/add_to_cart" method="post">
                                {% csrf_token %}
                                <fieldset>
                                    <input type="hidden" name="slug" value="{{cat.slug}}" />
                                    <input type="hidden" name="title" value="{{cat.title}}" />
                                    <input type="hidden" name="image" value="{{cat.image}}" />
                                    <input type="hidden" name="description" value="{{cat.description}}" />
                                    <input type="hidden" name="quantity" value="{{cat.quatity}}" />
                                    {% if item.discounted_price > 0 %}
                                    <input type="hidden" name="price" value="{{cat.discounted_price}}" />
                                    {% else %}
                                    <input type="hidden" name="price" value="{{cat.price}}" />
                                    {% endif %}
                                    <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- /product -->
            </div>
            <!-- /store products -->
            <!-- store bottom filter -->
            <div class="store-filter clearfix">
                <span class="store-qty">Showing 20-100 products</span>
                <ul class="store-pagination">
                    <li class="active">1</li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>
            <!-- /store bottom filter -->
        </div>
        <!-- /STORE -->
    </div>
    <!-- /row -->
</div>
<!-- /container -->
</div>
<!-- /SECTION -->
<!-- NEWSLETTER -->
<div id="newsletter" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="newsletter">
                    <p>Sign Up for the <strong>NEWSLETTER</strong></p>
                    <form>
                        <input class="input" type="email" placeholder="Enter Your Email">
                        <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
                    </form>
                    <ul class="newsletter-follow">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /NEWSLETTER -->
{% endblock %}