{% extends 'base.html' %}
{%load static%}
{% block content %}
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- shop -->
            <div class="col-md-6 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="{% static './img/shop01.png'%}" alt="" height=260>
                    </div>
                    <div class="shop-body">
                        <h3>Laptop<br>Collection</h3>
                        <a href="/category/laptop" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->
            <!-- shop -->
            <div class="col-md-6 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="{% static './img/shop03.png'%}" alt="" height=260>
                    </div>
                    <div class="shop-body">
                        <h3>Accessories<br>Collection</h3>
                        <a href="/category/accessories" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->
            <!-- shop -->
            <div class="col-md-6 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="{% static './img/product07.png'%}" alt="" height=260>
                    </div>
                    <div class="shop-body">
                        <h3>Smartphones<br>Collection</h3>
                        <a href="/category/smartphones" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->
            <div class="col-md-6 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="{% static './img/nikon2.jpg'%}" alt="" height=260>
                    </div>
                    <div class="shop-body">
                        <h3>Cameras<br>Collection</h3>
                        <a href="/category/camera" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">New Smartphones</h3><br>
                    <div class="section-nav">
                    </div>
                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="smartphones" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <!-- product -->
                                {% for item in smartphones %}
                                <div class="product">
                                    <div class="product-img">
                                        <a href="{{item.GetItemUrls}}"> <img src="{{ item.image.url }}" alt="" height=250 widht=160></a>
                                        <div class="product-label">
                                            <span class="new">{{item.Labels}}</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">{{item.subcategory}}</p>
                                        <h3 class="product-name"><a href="{{item.GetItemUrls}}">{{item.title}}</a></h3>
                                        {% if item.discounted_price > 0 %}
                                        <del>Rs. {{item.price}}</del>
                                        <h4 class="product-price">Rs. {{item.discounted_price}}</h4>
                                        {% else %}
                                        <br>
                                        <h4 class="product-price">Rs. {{item.price}}</h4>
                                        {% endif %}
                                        <div class="product-btns">
                                            <form action="/add_to_wish" method="POST">
                                                {% csrf_token %}
                                                <fieldset>
                                                    <input type="hidden" name="slug" value="{{item.slug}}" />
                                                    <input type="hidden" name="title" value="{{item.title}}" />
                                                    <input type="hidden" name="image" value="{{item.image}}" />
                                                    <input type="hidden" name="description" value="{{item.description}}" />
                                                    <input type="hidden" name="quantity" value="{{item.quatity}}" />
                                                    {% if item.discounted_price > 0 %}
                                                    <input type="hidden" name="price" value="{{item.discounted_price}}" />
                                                    {% else %}
                                                    <input type="hidden" name="price" value="{{item.price}}" />
                                                    {% endif %}
                                                    <button class="add-to-wishlist">&nbsp;<i class="fa fa-heart-o"></i></button>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <form action="/add_to_cart" method="post">
                                            {% csrf_token %}
                                            <fieldset>
                                                <input type="hidden" name="slug" value="{{item.slug}}" />
                                                <input type="hidden" name="title" value="{{item.title}}" />
                                                <input type="hidden" name="image" value="{{item.image}}" />
                                                <input type="hidden" name="description" value="{{item.description}}" />
                                                <input type="hidden" name="quantity" value="{{item.quatity}}" />
                                                {% if item.discounted_price > 0 %}
                                                <input type="hidden" name="price" value="{{item.discounted_price}}" />
                                                {% else %}
                                                <input type="hidden" name="price" value="{{item.price}}" />
                                                {% endif %}
                                                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                                <!-- /product -->
                                {% endfor %}
                            </div>
                            <div id="slick-nav-1" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- HOT DEAL SECTION -->
<div id="hot-deal" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="hot-deal">
                    <ul class="hot-deal-countdown">
                        <li>
                            <div>
                                <h3>02</h3>
                                <span>Days</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>10</h3>
                                <span>Hours</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>34</h3>
                                <span>Mins</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>60</h3>
                                <span>Secs</span>
                            </div>
                        </li>
                    </ul>
                    <h2 class="text-uppercase">hot deal this week</h2>
                    <p>New Collection Up to 50% OFF</p>
                    <a class="primary-btn cta-btn" href="/hot_deal">Shop now</a>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">New Laptops</h3><br>
                    <div class="section-nav">
                    </div>
                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="smartphones" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-100">
                                <!-- product -->
                                {% for item in laptops %}
                                <div class="product">
                                    <div class="product-img">
                                        <a href="{{item.GetItemUrls}}"><img src="{{ item.image.url }}" alt="" height=160 widht=145></a>
                                        <div class="product-label">
                                            <span class="new">{{item.Labels}}</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">{{item.subcategory}}</p>
                                        <h3 class="product-name"><a href="{{item.GetItemUrls}}">{{item.title}}</a></h3>
                                        {% if item.discounted_price > 0 %}
                                        <del>Rs. {{item.price}}</del>
                                        <h4 class="product-price">Rs. {{item.discounted_price}}</h4>
                                        {% else %}
                                        <br>
                                        <h4 class="product-price">Rs. {{item.price}}</h4>
                                        {% endif %}
                                        <div class="product-btns">
                                            <form action="/add_to_wish" method="POST">
                                                {% csrf_token %}
                                                <fieldset>
                                                    <input type="hidden" name="slug" value="{{item.slug}}" />
                                                    <input type="hidden" name="title" value="{{item.title}}" />
                                                    <input type="hidden" name="image" value="{{item.image}}" />
                                                    <input type="hidden" name="description" value="{{item.description}}" />
                                                    <input type="hidden" name="quantity" value="{{item.quatity}}" />
                                                    {% if item.discounted_price > 0 %}
                                                    <input type="hidden" name="price" value="{{item.discounted_price}}" />
                                                    {% else %}
                                                    <input type="hidden" name="price" value="{{item.price}}" />
                                                    {% endif %}
                                                    <button class="add-to-wishlist">&nbsp;<i class="fa fa-heart-o"></i></button>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <form action="/add_to_cart" method="post">
                                            {% csrf_token %}
                                            <fieldset>
                                                <input type="hidden" name="slug" value="{{item.slug}}" />
                                                <input type="hidden" name="title" value="{{item.title}}" />
                                                <input type="hidden" name="image" value="{{item.image}}" />
                                                <input type="hidden" name="description" value="{{item.description}}" />
                                                <input type="hidden" name="quantity" value="{{item.quatity}}" />
                                                {% if item.discounted_price > 0 %}
                                                <input type="hidden" name="price" value="{{item.discounted_price}}" />
                                                {% else %}
                                                <input type="hidden" name="price" value="{{item.price}}" />
                                                {% endif %}
                                                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                                <!-- /product -->
                                {% endfor %}
                            </div>
                            <div id="slick-nav-100" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">New Accessories</h3><br>
                    <div class="section-nav">
                    </div>
                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="smartphones" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-101">
                                <!-- product -->
                                {% for item in accessories %}
                                <div class="product">
                                    <div class="product-img">
                                        <a href="{{item.GetItemUrls}}"><img src="{{ item.image.url }}" alt="" height=160 widht=145></a>
                                        <div class="product-label">
                                            <span class="new">{{item.Labels}}</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">{{item.subcategory}}</p>
                                        <h3 class="product-name"><a href="{{item.GetItemUrls}}">{{item.title}}</a></h3>
                                        {% if item.discounted_price > 0 %}
                                        <del>Rs. {{item.price}}</h5></del>
                                        <h4 class="product-price">Rs. {{item.discounted_price}}</h4>
                                        {% else %}
                                        <br>
                                        <h4 class="product-price">Rs. {{item.price}}</h4>
                                        {% endif %}
                                        <div class="product-btns">
                                            <form action="/add_to_wish" method="POST">
                                                {% csrf_token %}
                                                <fieldset>
                                                    <input type="hidden" name="slug" value="{{item.slug}}" />
                                                    <input type="hidden" name="title" value="{{item.title}}" />
                                                    <input type="hidden" name="image" value="{{item.image}}" />
                                                    <input type="hidden" name="description" value="{{item.description}}" />
                                                    <input type="hidden" name="quantity" value="{{item.quatity}}" />
                                                    {% if item.discounted_price > 0 %}
                                                    <input type="hidden" name="price" value="{{item.discounted_price}}" />
                                                    {% else %}
                                                    <input type="hidden" name="price" value="{{item.price}}" />
                                                    {% endif %}
                                                    <button class="add-to-wishlist">&nbsp;<i class="fa fa-heart-o"></i></button>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <form action="/add_to_cart" method="post">
                                            {% csrf_token %}
                                            <fieldset>
                                                <input type="hidden" name="slug" value="{{item.slug}}" />
                                                <input type="hidden" name="title" value="{{item.title}}" />
                                                <input type="hidden" name="image" value="{{item.image}}" />
                                                <input type="hidden" name="description" value="{{item.description}}" />
                                                <input type="hidden" name="quantity" value="{{item.quatity}}" />
                                                {% if item.discounted_price > 0 %}
                                                <input type="hidden" name="price" value="{{item.discounted_price}}" />
                                                {% else %}
                                                <input type="hidden" name="price" value="{{item.price}}" />
                                                {% endif %}
                                                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                                <!-- /product -->
                                {% endfor %}
                            </div>
                            <div id="slick-nav-101" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
{% endblock %}